html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #f5f5f5;
}

.container {
  padding: 8px;
}

.card {
  margin: 8px;
  float: left;
}

.featured-article {
  height: 340px;
  width: calc(100% - 16px);
  position: relative;
}

.featured-image {
  width: 100%;
  height: 100%;
  position: absolute;
}

.featured-article:first-of-type .featured-image {
  background: url("../img/shadows.jpg");
  background-size: cover;
  background-position: center;
}

.featured-article:last-of-type .featured-image {
  background: url("../img/night-woods.jpg");
  background-size: cover;
  background-position: center;
}

.article {
  width: calc(100% - 16px);
  background: #fff;
  height: 106px;
}

.article-image {
  height: 86px;
  width: 130px;
  margin: 10px;
  float: left;
}

.article-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
